// CSS Global Variables
:root {
    --primary-light-1: #f8f5f2; // Eggshell 1
    --primary-light-2: #f0eae4; // Eggshell 2
    --primary-light-3: #e1d7c9; // Eggshell 3
    --primary-light-4: #b59b7b; // Eggshell 4

    --primary-dark-1: #161c20; // Baltic Sea
    --primary-dark-2: #edf0f1; // Aqua Haze
    --primary-dark-3: #838f97; // Amethyst Smoke
    --primary-dark-4: #0b0e10; // Blue Bayoux

    --primary-accent-0: #eaebe0;
    --primary-accent-1: #cbfb62; // Golden Fizz
    --primary-accent-2: #dcdfc4; // Moon Mist
    --primary-accent-3: #bcbb9d; // Spring Rain
    --primary-accent-4: #292f1e; // Dark Jungle Green
    --primary-accent-5: #d6f963;

    --discover-brick-1: #dfb19d; // Pale Chestnut
    --discover-brick-2: #f9f3f0; // Antique White
    --discover-brick-3: #b7704e; // Dull Orange
    --discover-brick-4: #2b1911; // Brown Derby

    --learn-purple-1: #a198ac; // Light Olive Green
    --learn-purple-2: #f5f4f6; // Merino
    --learn-purple-3: #50495a; // Bone
    --learn-purple-4: #1d1b21; // Black Olive

    --finance-blue-1: #5b8fcf; // Pale Teal
    --finance-blue-2: #eff5fa; // Aqua Squeeze
    --finance-blue-3: #bdd9f1; // Magic Mint
    --finance-blue-4: #102031; // Bottle GreenBLUE

    --neutral-white: #ffffff;
    --neutral-black: #000000;
    --neutral-light-grey: #999999;
    --neutral-dark-grey: #525252;

    --border-1: #e7e3eb;
}
